/* setup and common stylings */
:root {
  --poppins: "Poppins", sans-serif;
  --sans: "Open Sans", sans-serif;
  --green: #388e3c;
  --black: #111;
  --nero: #e6e6e6;
  --transition: all 0.3s ease;
  --bg-round : rgba(255, 255, 255, 0.164);

  --bg-color: #e6e6e6;

  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;

  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;

    
}


 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--sans);
}
body {
  color: black;
  line-height: 1.5;
  background: var(--bg-color);
  overflow-x: hidden;
}
a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0.6rem 0;
}

/* button */
.btn {
  border: none;
  margin: 1rem 0;
  border-radius: 35px;
  background: var(--bg-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  box-shadow: var(--box-shadow);
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #111;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.7;
  box-shadow: var(--box-shadow-inset);
  color: #388e3c;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  background: transparent;
}

.button .btnn {
  margin: 0 10px;
}
.text {
  font-size: 1.05rem;
  color: var(--black);
  line-height: 1.7;
}

.about .row .row-right h3 {
  color: var(--green);
}
/* title */
.title {
  position: relative;
  color: var(--black);
}

.title:hover {
  text-shadow: var(--box-shadow-inset);
}
.title > h2 {
  font-size: 3rem;
  font-family: var(--poppins);
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  color: var(--bg-color);
  text-shadow: var(--box-shadow);
}

.title div {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}
.title div h2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: var(--poppins);
  font-weight: 800;
}
.container {
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .title > h2 {
    font-size: 6rem;
  }
  .title div h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 88vw;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 85vw;
  }
}

/* animation and transition stopper styling */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
